<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav style="display: flex; justify-content:space-around; align-items: center;">
        <a href="/">Google news</a>
        <ul style="display: flex; align-items: center; gap: 40px;">
            <li><a href="/login">login</a></li>
            <li><a href="/signup">register</a></li>
        </ul>
    </nav>
    <button> <a href="/signup">Signup</a></button>
</body>
</html>