<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" style="display: flex; flex-direction: column; align-items:  center;" method="post">
        <label for="">Username</label>
        <input type="text" id="user" name="username">
        <label for="">Email</label>
        <input type="text" name="email" required id="email">
        <label for="">password</label>
        <input type="password" name="password" required id="pass">
        <button>Sign up</button>
    </form>
    
    <!-- <script>
        const button = document.querySelector('button')
    
        button.addEventListener('click', async(e)=>{
            const user = document.getElementById('user').value
            const email = document.getElementById('email').value
            const pass= document.getElementById('pass').value
    
            const object = {
                user, email, pass
            }
    
            try {
                const response = await fetch("http://localhost:2006/signup",{
                    method:'POST',
                    headers:{'Content-type':'application/json'},
                    body: JSON.stringify(object)
                })
                if (!response.ok) {
                    console.log("Erreur de l'envoie de donne");
                }
                const reponseDaa = await response.json()
                console.log(reponseDaa);
            } catch (error) {
                console.log("erreur survenu lors de l' envoie de donne");
            }
        })
    </script> -->
</body>
</html>
